{% extends 'PricemaniaRegistrationBundle::base.html.twig' %}

{% block pricemania_registation_content %}
    Now you can try a <a href="{{ url('pricemania_registration_register') }}">new registration</a>
{% endblock %}
